body{
    /* background-color: #a7dbe3; */
    background-image: url(../img/elephant.jpg);
    background-size: contain;
    bacground-repeat: no-repeat;
    bacground-position: center;
    color: #2f4c5c;
    font-size: 21px;
}


h1 { 
    color: blue;
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

p {
    margin: 0;
    line-height: 1.4;
    margin-bottom: 15px;

}

.box {
    width: 100px;
    height: 100px;
    float: left;
}

.box1 {
    background: #8fdb83;
}

.box2 {
    background: #rgba(255, 0, 0, .5); 
    /* #RRGGBB 0 -> F */
}

.box3 {
    background: firebrick;

}

.box4 {
    background: orange;
}

.box5 {
    background: yellow;
    clear: both;
}

.box6 {
    background: yellowgreen;
}

.box7 {
    background: rgba(255,255,0,.75);
    
}

.box8 {
    width: 150px;
    height: 150px;
    background: hsla(150, 100%, 50%, .5);
}

.box9 {
    width: 150px;
    height: 150px;
    background: rgba(0,150,255,.2);
    font-size: 24px;
    font-weight: bold;
}
