body {
    background-color: #a7dbe3;
    color: white;
    font-size: 21px;
}

p {
    color: #2f4c5c;
}

h1 {
    font-size: 70px;
    color: #3747b3;
}

#top-section {
    font-size: 40px;
    background: pink
}

#bottom-section {
    background: green;
}

.intro {
    font-size: 30px;
}

.highlight {
    background: yellow;
}

.accent-color {
   color : red;  
}